In [10]:
import concurrent.futures
import pandas as pd 
import numpy as np 
import spacy
import os 
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
import re 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [11]:
os.getcwd()

'/Users/nikhilkudupudi/Projects - School & Work/NLP/Project'

In [12]:
files_list = os.listdir('resumes_corpus')
files_list.sort()
files_list

['00001.lab',
 '00001.txt',
 '00002.lab',
 '00002.txt',
 '00003.lab',
 '00003.txt',
 '00004.lab',
 '00004.txt',
 '00005.lab',
 '00005.txt',
 '00006.lab',
 '00006.txt',
 '00007.lab',
 '00007.txt',
 '00008.lab',
 '00008.txt',
 '00009.lab',
 '00009.txt',
 '00010.lab',
 '00010.txt',
 '00011.lab',
 '00011.txt',
 '00012.lab',
 '00012.txt',
 '00013.lab',
 '00013.txt',
 '00014.lab',
 '00014.txt',
 '00015.lab',
 '00015.txt',
 '00016.lab',
 '00016.txt',
 '00017.lab',
 '00017.txt',
 '00018.lab',
 '00018.txt',
 '00019.lab',
 '00019.txt',
 '00020.lab',
 '00020.txt',
 '00021.lab',
 '00021.txt',
 '00022.lab',
 '00022.txt',
 '00023.lab',
 '00023.txt',
 '00024.lab',
 '00024.txt',
 '00025.lab',
 '00025.txt',
 '00026.lab',
 '00026.txt',
 '00027.lab',
 '00027.txt',
 '00028.lab',
 '00028.txt',
 '00029.lab',
 '00029.txt',
 '00030.lab',
 '00030.txt',
 '00031.lab',
 '00031.txt',
 '00032.lab',
 '00032.txt',
 '00033.lab',
 '00033.txt',
 '00034.lab',
 '00034.txt',
 '00035.lab',
 '00035.txt',
 '00036.lab',
 '00036.txt',
 '00037.lab',
 '00037.txt',
 '00038.lab',
 '00038.txt',
 '00039.lab',
 '00039.txt',
 '00040.lab',
 '00040.txt',
 '00041.lab',
 '00041.txt',
 '00042.lab',
 '00042.txt',
 '00043.lab',
 '00043.txt',
 '00044.lab',
 '00044.txt',
 '00045.lab',
 '00045.txt',
 '00046.lab',
 '00046.txt',
 '00047.lab',
 '00047.txt',
 '00048.lab',
 '00048.txt',
 '00049.lab',
 '00049.txt',
 '00050.lab',
 '00050.txt',
 '00051.lab',
 '00051.txt',
 '00052.lab',
 '00052.txt',
 '00053.lab',
 '00053.txt',
 '00054.lab',
 '00054.txt',
 '00055.lab',
 '00055.txt',
 '00056.lab',
 '00056.txt',
 '00057.lab',
 '00057.txt',
 '00058.lab',
 '00058.txt',
 '00059.lab',
 '00059.txt',
 '00060.lab',
 '00060.txt',
 '00061.lab',
 '00061.txt',
 '00062.lab',
 '00062.txt',
 '00063.lab',
 '00063.txt',
 '00064.lab',
 '00064.txt',
 '00065.lab',
 '00065.txt',
 '00066.lab',
 '00066.txt',
 '00067.lab',
 '00067.txt',
 '00068.lab',
 '00068.txt',
 '00069.lab',
 '00069.txt',
 '00070.lab',
 '00070.txt',
 '00071.lab',
 '00071.txt',
 '00072.lab',
 '00072.txt',
 '00073.lab',
 '00073.txt',
 '00074.lab',
 '00074.txt',
 '00075.lab',
 '00075.txt',
 '00076.lab',
 '00076.txt',
 '00077.lab',
 '00077.txt',
 '00078.lab',
 '00078.txt',
 '00079.lab',
 '00079.txt',
 '00080.lab',
 '00080.txt',
 '00081.lab',
 '00081.txt',
 '00082.lab',
 '00082.txt',
 '00083.lab',
 '00083.txt',
 '00084.lab',
 '00084.txt',
 '00085.lab',
 '00085.txt',
 '00086.lab',
 '00086.txt',
 '00087.lab',
 '00087.txt',
 '00088.lab',
 '00088.txt',
 '00089.lab',
 '00089.txt',
 '00090.lab',
 '00090.txt',
 '00091.lab',
 '00091.txt',
 '00092.lab',
 '00092.txt',
 '00093.lab',
 '00093.txt',
 '00094.lab',
 '00094.txt',
 '00095.lab',
 '00095.txt',
 '00096.lab',
 '00096.txt',
 '00097.lab',
 '00097.txt',
 '00098.lab',
 '00098.txt',
 '00099.lab',
 '00099.txt',
 '00100.lab',
 '00100.txt',
 '00101.lab',
 '00101.txt',
 '00102.lab',
 '00102.txt',
 '00103.lab',
 '00103.txt',
 '00104.lab',
 '00104.txt',
 '00105.lab',
 '00105.txt',
 '00106.lab',
 '00106.txt',
 '00107.lab',
 '00107.txt',
 '00108.lab',
 '00108.txt',
 '00109.lab',
 '00109.txt',
 '00110.lab',
 '00110.txt',
 '00111.lab',
 '00111.txt',
 '00112.lab',
 '00112.txt',
 '00113.lab',
 '00113.txt',
 '00114.lab',
 '00114.txt',
 '00115.lab',
 '00115.txt',
 '00116.lab',
 '00116.txt',
 '00117.lab',
 '00117.txt',
 '00118.lab',
 '00118.txt',
 '00119.lab',
 '00119.txt',
 '00120.lab',
 '00120.txt',
 '00121.lab',
 '00121.txt',
 '00122.lab',
 '00122.txt',
 '00123.lab',
 '00123.txt',
 '00124.lab',
 '00124.txt',
 '00125.lab',
 '00125.txt',
 '00126.lab',
 '00126.txt',
 '00127.lab',
 '00127.txt',
 '00128.lab',
 '00128.txt',
 '00129.lab',
 '00129.txt',
 '00130.lab',
 '00130.txt',
 '00131.lab',
 '00131.txt',
 '00132.lab',
 '00132.txt',
 '00133.lab',
 '00133.txt',
 '00134.lab',
 '00134.txt',
 '00135.lab',
 '00135.txt',
 '00136.lab',
 '00136.txt',
 '00137.lab',
 '00137.txt',
 '00138.lab',
 '00138.txt',
 '00139.lab',
 '00139.txt',
 '00140.lab',
 '00140.txt',
 '00141.lab',
 '00141.txt',
 '00142.lab',
 '00142.txt',
 '00143.lab',
 '00143.txt',
 '00144.lab',
 '00144.txt',
 '00145.lab',
 '00145.txt',
 '00146.lab',
 '00146.txt',
 '00147.lab',
 '00147.txt',
 '00148.lab',
 '00148.txt',
 '00149.lab',
 '00149.txt',
 '00150.lab',
 '00150.txt',
 '00151.lab',
 '00151.txt',
 '00152.lab',
 '00152.txt',
 '00153.lab',
 '00153.txt',
 '00154.lab',
 '00154.txt',
 '00155.lab',
 '00155.txt',
 '00156.lab',
 '00156.txt',
 '00157.lab',
 '00157.txt',
 '00158.lab',
 '00158.txt',
 '00159.lab',
 '00159.txt',
 '00160.lab',
 '00160.txt',
 '00161.lab',
 '00161.txt',
 '00162.lab',
 '00162.txt',
 '00163.lab',
 '00163.txt',
 '00164.lab',
 '00164.txt',
 '00165.lab',
 '00165.txt',
 '00166.lab',
 '00166.txt',
 '00167.lab',
 '00167.txt',
 '00168.lab',
 '00168.txt',
 '00169.lab',
 '00169.txt',
 '00170.lab',
 '00170.txt',
 '00171.lab',
 '00171.txt',
 '00172.lab',
 '00172.txt',
 '00173.lab',
 '00173.txt',
 '00174.lab',
 '00174.txt',
 '00175.lab',
 '00175.txt',
 '00176.lab',
 '00176.txt',
 '00177.lab',
 '00177.txt',
 '00178.lab',
 '00178.txt',
 '00179.lab',
 '00179.txt',
 '00180.lab',
 '00180.txt',
 '00181.lab',
 '00181.txt',
 '00182.lab',
 '00182.txt',
 '00183.lab',
 '00183.txt',
 '00184.lab',
 '00184.txt',
 '00185.lab',
 '00185.txt',
 '00186.lab',
 '00186.txt',
 '00187.lab',
 '00187.txt',
 '00188.lab',
 '00188.txt',
 '00189.lab',
 '00189.txt',
 '00190.lab',
 '00190.txt',
 '00191.lab',
 '00191.txt',
 '00192.lab',
 '00192.txt',
 '00193.lab',
 '00193.txt',
 '00194.lab',
 '00194.txt',
 '00195.lab',
 '00195.txt',
 '00196.lab',
 '00196.txt',
 '00197.lab',
 '00197.txt',
 '00198.lab',
 '00198.txt',
 '00199.lab',
 '00199.txt',
 '00200.lab',
 '00200.txt',
 '00201.lab',
 '00201.txt',
 '00202.lab',
 '00202.txt',
 '00203.lab',
 '00203.txt',
 '00204.lab',
 '00204.txt',
 '00205.lab',
 '00205.txt',
 '00206.lab',
 '00206.txt',
 '00207.lab',
 '00207.txt',
 '00208.lab',
 '00208.txt',
 '00209.lab',
 '00209.txt',
 '00210.lab',
 '00210.txt',
 '00211.lab',
 '00211.txt',
 '00212.lab',
 '00212.txt',
 '00213.lab',
 '00213.txt',
 '00214.lab',
 '00214.txt',
 '00215.lab',
 '00215.txt',
 '00216.lab',
 '00216.txt',
 '00217.lab',
 '00217.txt',
 '00218.lab',
 '00218.txt',
 '00219.lab',
 '00219.txt',
 '00220.lab',
 '00220.txt',
 '00221.lab',
 '00221.txt',
 '00222.lab',
 '00222.txt',
 '00223.lab',
 '00223.txt',
 '00224.lab',
 '00224.txt',
 '00225.lab',
 '00225.txt',
 '00226.lab',
 '00226.txt',
 '00227.lab',
 '00227.txt',
 '00228.lab',
 '00228.txt',
 '00229.lab',
 '00229.txt',
 '00230.lab',
 '00230.txt',
 '00231.lab',
 '00231.txt',
 '00232.lab',
 '00232.txt',
 '00233.lab',
 '00233.txt',
 '00234.lab',
 '00234.txt',
 '00235.lab',
 '00235.txt',
 '00236.lab',
 '00236.txt',
 '00237.lab',
 '00237.txt',
 '00238.lab',
 '00238.txt',
 '00239.lab',
 '00239.txt',
 '00240.lab',
 '00240.txt',
 '00241.lab',
 '00241.txt',
 '00242.lab',
 '00242.txt',
 '00243.lab',
 '00243.txt',
 '00244.lab',
 '00244.txt',
 '00245.lab',
 '00245.txt',
 '00246.lab',
 '00246.txt',
 '00247.lab',
 '00247.txt',
 '00248.lab',
 '00248.txt',
 '00249.lab',
 '00249.txt',
 '00250.lab',
 '00250.txt',
 '00251.lab',
 '00251.txt',
 '00252.lab',
 '00252.txt',
 '00253.lab',
 '00253.txt',
 '00254.lab',
 '00254.txt',
 '00255.lab',
 '00255.txt',
 '00256.lab',
 '00256.txt',
 '00257.lab',
 '00257.txt',
 '00258.lab',
 '00258.txt',
 '00259.lab',
 '00259.txt',
 '00260.lab',
 '00260.txt',
 '00261.lab',
 '00261.txt',
 '00262.lab',
 '00262.txt',
 '00263.lab',
 '00263.txt',
 '00264.lab',
 '00264.txt',
 '00265.lab',
 '00265.txt',
 '00266.lab',
 '00266.txt',
 '00267.lab',
 '00267.txt',
 '00268.lab',
 '00268.txt',
 '00269.lab',
 '00269.txt',
 '00270.lab',
 '00270.txt',
 '00271.lab',
 '00271.txt',
 '00272.lab',
 '00272.txt',
 '00273.lab',
 '00273.txt',
 '00274.lab',
 '00274.txt',
 '00275.lab',
 '00275.txt',
 '00276.lab',
 '00276.txt',
 '00277.lab',
 '00277.txt',
 '00278.lab',
 '00278.txt',
 '00279.lab',
 '00279.txt',
 '00280.lab',
 '00280.txt',
 '00281.lab',
 '00281.txt',
 '00282.lab',
 '00282.txt',
 '00283.lab',
 '00283.txt',
 '00284.lab',
 '00284.txt',
 '00285.lab',
 '00285.txt',
 '00286.lab',
 '00286.txt',
 '00287.lab',
 '00287.txt',
 '00288.lab',
 '00288.txt',
 '00289.lab',
 '00289.txt',
 '00290.lab',
 '00290.txt',
 '00291.lab',
 '00291.txt',
 '00292.lab',
 '00292.txt',
 '00293.lab',
 '00293.txt',
 '00294.lab',
 '00294.txt',
 '00295.lab',
 '00295.txt',
 '00296.lab',
 '00296.txt',
 '00297.lab',
 '00297.txt',
 '00298.lab',
 '00298.txt',
 '00299.lab',
 '00299.txt',
 '00300.lab',
 '00300.txt',
 '00301.lab',
 '00301.txt',
 '00302.lab',
 '00302.txt',
 '00303.lab',
 '00303.txt',
 '00304.lab',
 '00304.txt',
 '00305.lab',
 '00305.txt',
 '00306.lab',
 '00306.txt',
 '00307.lab',
 '00307.txt',
 '00308.lab',
 '00308.txt',
 '00309.lab',
 '00309.txt',
 '00310.lab',
 '00310.txt',
 '00311.lab',
 '00311.txt',
 '00312.lab',
 '00312.txt',
 '00313.lab',
 '00313.txt',
 '00314.lab',
 '00314.txt',
 '00315.lab',
 '00315.txt',
 '00316.lab',
 '00316.txt',
 '00317.lab',
 '00317.txt',
 '00318.lab',
 '00318.txt',
 '00319.lab',
 '00319.txt',
 '00320.lab',
 '00320.txt',
 '00321.lab',
 '00321.txt',
 '00322.lab',
 '00322.txt',
 '00323.lab',
 '00323.txt',
 '00324.lab',
 '00324.txt',
 '00325.lab',
 '00325.txt',
 '00326.lab',
 '00326.txt',
 '00327.lab',
 '00327.txt',
 '00328.lab',
 '00328.txt',
 '00329.lab',
 '00329.txt',
 '00330.lab',
 '00330.txt',
 '00331.lab',
 '00331.txt',
 '00332.lab',
 '00332.txt',
 '00333.lab',
 '00333.txt',
 '00334.lab',
 '00334.txt',
 '00335.lab',
 '00335.txt',
 '00336.lab',
 '00336.txt',
 '00337.lab',
 '00337.txt',
 '00338.lab',
 '00338.txt',
 '00339.lab',
 '00339.txt',
 '00340.lab',
 '00340.txt',
 '00341.lab',
 '00341.txt',
 '00342.lab',
 '00342.txt',
 '00343.lab',
 '00343.txt',
 '00344.lab',
 '00344.txt',
 '00345.lab',
 '00345.txt',
 '00346.lab',
 '00346.txt',
 '00347.lab',
 '00347.txt',
 '00348.lab',
 '00348.txt',
 '00349.lab',
 '00349.txt',
 '00350.lab',
 '00350.txt',
 '00351.lab',
 '00351.txt',
 '00352.lab',
 '00352.txt',
 '00353.lab',
 '00353.txt',
 '00354.lab',
 '00354.txt',
 '00355.lab',
 '00355.txt',
 '00356.lab',
 '00356.txt',
 '00357.lab',
 '00357.txt',
 '00358.lab',
 '00358.txt',
 '00359.lab',
 '00359.txt',
 '00360.lab',
 '00360.txt',
 '00361.lab',
 '00361.txt',
 '00362.lab',
 '00362.txt',
 '00363.lab',
 '00363.txt',
 '00364.lab',
 '00364.txt',
 '00365.lab',
 '00365.txt',
 '00366.lab',
 '00366.txt',
 '00367.lab',
 '00367.txt',
 '00368.lab',
 '00368.txt',
 '00369.lab',
 '00369.txt',
 '00370.lab',
 '00370.txt',
 '00371.lab',
 '00371.txt',
 '00372.lab',
 '00372.txt',
 '00373.lab',
 '00373.txt',
 '00374.lab',
 '00374.txt',
 '00375.lab',
 '00375.txt',
 '00376.lab',
 '00376.txt',
 '00377.lab',
 '00377.txt',
 '00378.lab',
 '00378.txt',
 '00379.lab',
 '00379.txt',
 '00380.lab',
 '00380.txt',
 '00381.lab',
 '00381.txt',
 '00382.lab',
 '00382.txt',
 '00383.lab',
 '00383.txt',
 '00384.lab',
 '00384.txt',
 '00385.lab',
 '00385.txt',
 '00386.lab',
 '00386.txt',
 '00387.lab',
 '00387.txt',
 '00388.lab',
 '00388.txt',
 '00389.lab',
 '00389.txt',
 '00390.lab',
 '00390.txt',
 '00391.lab',
 '00391.txt',
 '00392.lab',
 '00392.txt',
 '00393.lab',
 '00393.txt',
 '00394.lab',
 '00394.txt',
 '00395.lab',
 '00395.txt',
 '00396.lab',
 '00396.txt',
 '00397.lab',
 '00397.txt',
 '00398.lab',
 '00398.txt',
 '00399.lab',
 '00399.txt',
 '00400.lab',
 '00400.txt',
 '00401.lab',
 '00401.txt',
 '00402.lab',
 '00402.txt',
 '00403.lab',
 '00403.txt',
 '00404.lab',
 '00404.txt',
 '00405.lab',
 '00405.txt',
 '00406.lab',
 '00406.txt',
 '00407.lab',
 '00407.txt',
 '00408.lab',
 '00408.txt',
 '00409.lab',
 '00409.txt',
 '00410.lab',
 '00410.txt',
 '00411.lab',
 '00411.txt',
 '00412.lab',
 '00412.txt',
 '00413.lab',
 '00413.txt',
 '00414.lab',
 '00414.txt',
 '00415.lab',
 '00415.txt',
 '00416.lab',
 '00416.txt',
 '00417.lab',
 '00417.txt',
 '00418.lab',
 '00418.txt',
 '00419.lab',
 '00419.txt',
 '00420.lab',
 '00420.txt',
 '00421.lab',
 '00421.txt',
 '00422.lab',
 '00422.txt',
 '00423.lab',
 '00423.txt',
 '00424.lab',
 '00424.txt',
 '00425.lab',
 '00425.txt',
 '00426.lab',
 '00426.txt',
 '00427.lab',
 '00427.txt',
 '00428.lab',
 '00428.txt',
 '00429.lab',
 '00429.txt',
 '00430.lab',
 '00430.txt',
 '00431.lab',
 '00431.txt',
 '00432.lab',
 '00432.txt',
 '00433.lab',
 '00433.txt',
 '00434.lab',
 '00434.txt',
 '00435.lab',
 '00435.txt',
 '00436.lab',
 '00436.txt',
 '00437.lab',
 '00437.txt',
 '00438.lab',
 '00438.txt',
 '00439.lab',
 '00439.txt',
 '00440.lab',
 '00440.txt',
 '00441.lab',
 '00441.txt',
 '00442.lab',
 '00442.txt',
 '00443.lab',
 '00443.txt',
 '00444.lab',
 '00444.txt',
 '00445.lab',
 '00445.txt',
 '00446.lab',
 '00446.txt',
 '00447.lab',
 '00447.txt',
 '00448.lab',
 '00448.txt',
 '00449.lab',
 '00449.txt',
 '00450.lab',
 '00450.txt',
 '00451.lab',
 '00451.txt',
 '00452.lab',
 '00452.txt',
 '00453.lab',
 '00453.txt',
 '00454.lab',
 '00454.txt',
 '00455.lab',
 '00455.txt',
 '00456.lab',
 '00456.txt',
 '00457.lab',
 '00457.txt',
 '00458.lab',
 '00458.txt',
 '00459.lab',
 '00459.txt',
 '00460.lab',
 '00460.txt',
 '00461.lab',
 '00461.txt',
 '00462.lab',
 '00462.txt',
 '00463.lab',
 '00463.txt',
 '00464.lab',
 '00464.txt',
 '00465.lab',
 '00465.txt',
 '00466.lab',
 '00466.txt',
 '00467.lab',
 '00467.txt',
 '00468.lab',
 '00468.txt',
 '00469.lab',
 '00469.txt',
 '00470.lab',
 '00470.txt',
 '00471.lab',
 '00471.txt',
 '00472.lab',
 '00472.txt',
 '00473.lab',
 '00473.txt',
 '00474.lab',
 '00474.txt',
 '00475.lab',
 '00475.txt',
 '00476.lab',
 '00476.txt',
 '00477.lab',
 '00477.txt',
 '00478.lab',
 '00478.txt',
 '00479.lab',
 '00479.txt',
 '00480.lab',
 '00480.txt',
 '00481.lab',
 '00481.txt',
 '00482.lab',
 '00482.txt',
 '00483.lab',
 '00483.txt',
 '00484.lab',
 '00484.txt',
 '00485.lab',
 '00485.txt',
 '00486.lab',
 '00486.txt',
 '00487.lab',
 '00487.txt',
 '00488.lab',
 '00488.txt',
 '00489.lab',
 '00489.txt',
 '00490.lab',
 '00490.txt',
 '00491.lab',
 '00491.txt',
 '00492.lab',
 '00492.txt',
 '00493.lab',
 '00493.txt',
 '00494.lab',
 '00494.txt',
 '00495.lab',
 '00495.txt',
 '00496.lab',
 '00496.txt',
 '00497.lab',
 '00497.txt',
 '00498.lab',
 '00498.txt',
 '00499.lab',
 '00499.txt',
 '00500.lab',
 '00500.txt',
 ...]

In [13]:
import os
import numpy as np

file_contents = {'txt': [], 'lab': []}

for file in files_list:

    with open(f'resumes_corpus/{file}', 'r', encoding='utf-8', errors='ignore') as infile:
        content = infile.read()

        if file[-3:] == 'lab':
            file_contents['lab'].append(content)
            
        else:
            file_contents['txt'].append(content)

In [14]:
resume_df = pd.DataFrame(file_contents)
resume_df

,txt,lab
0,"Database Administrator <span class=""hl"">Databa...",Database_Administrator
1,"Database Administrator <span class=""hl"">Databa...",Database_Administrator
2,Oracle Database Administrator Oracle <span cla...,Database_Administrator
3,Amazon Redshift Administrator and ETL Develope...,Database_Administrator
4,Scrum Master Scrum Master Scrum Master Richmon...,Database_Administrator
...,...,...
29778,"ServiceNow Developer ServiceNow <span class=""h...",Java_Developer\nWeb_Developer\nSoftware_Developer
29779,"Android Developer Android <span class=""hl"">Dev...",Web_Developer\nSoftware_Developer
29780,"UI Developer UI <span class=""hl"">Developer</sp...",Software_Developer\nFront_End_Developer\nWeb_D...
29781,"Web Developer <span class=""hl"">Web</span> <spa...",Web_Developer\nSoftware_Developer
29782,Sr. Software Engineer Sr. Software Engineer Sr...,Software_Developer\nWeb_Developer

In [15]:
resume_df['lab'] = resume_df['lab'].apply(lambda x: x.replace('\n',' ,'))
resume_df

,txt,lab
0,"Database Administrator <span class=""hl"">Databa...",Database_Administrator
1,"Database Administrator <span class=""hl"">Databa...",Database_Administrator
2,Oracle Database Administrator Oracle <span cla...,Database_Administrator
3,Amazon Redshift Administrator and ETL Develope...,Database_Administrator
4,Scrum Master Scrum Master Scrum Master Richmon...,Database_Administrator
...,...,...
29778,"ServiceNow Developer ServiceNow <span class=""h...","Java_Developer ,Web_Developer ,Software_Developer"
29779,"Android Developer Android <span class=""hl"">Dev...","Web_Developer ,Software_Developer"
29780,"UI Developer UI <span class=""hl"">Developer</sp...","Software_Developer ,Front_End_Developer ,Web_D..."
29781,"Web Developer <span class=""hl"">Web</span> <spa...","Web_Developer ,Software_Developer"
29782,Sr. Software Engineer Sr. Software Engineer Sr...,"Software_Developer ,Web_Developer"

In [16]:
resume_df['lab'].value_counts()

lab
Systems_Administrator                                                                                2349
Project_manager                                                                                      2339
Database_Administrator                                                                               2225
Software_Developer                                                                                   1991
Web_Developer ,Software_Developer                                                                    1896
                                                                                                     ...
Systems_Administrator ,Security_Analyst ,Project_manager ,Web_Developer ,Software_Developer             1
Security_Analyst ,Network_Administrator ,Software_Developer ,Systems_Administrator                      1
Network_Administrator ,Web_Developer ,Software_Developer ,Systems_Administrator ,Security_Analyst       1
Security_Analyst ,Systems_Administrator ,Project_manager ,Software_Developer                            1
Database_Administrator ,Software_Developer ,Front_End_Developer ,Web_Developer                          1
Name: count, Length: 552, dtype: int64

## Text Cleaning and Embeddings

### Text Cleaning Code

In [20]:
# Load spaCy model with named entity recognition (NER) support
# NER = spacy.load("en_core_web_sm")

def clean_txt(text):
    '''
    function to clean the text
    -- lowercasing the text, removing email ids and website links, stop words and special characters
    -- also it will do lemmitization of the words for better accuray of our model. 
    '''
    # Remove sentences that start with '<span' and end with 'span>'
    cleaned_text = re.sub(r'<span.*?span>', '', text)

    cleaned_text = cleaned_text.lower()# Lowercasing

    cleaned_text = re.sub(r'http\S+|www\S+|https\S+', '', cleaned_text, flags=re.MULTILINE)# Removing hyperlinks

    cleaned_text = re.sub(r'\S+@\S+', '', cleaned_text, flags=re.MULTILINE)# Removing email addresses

    # Removing special characters, numbers, and punctuation
    cleaned_text = re.sub(r'[^a-zA-Z\s]', '', cleaned_text)

    # Tokenization
    tokens = word_tokenize(cleaned_text)

    # Removing stop words
    stop_words = set(stopwords.words('english'))
    tokens = [word for word in tokens if word not in stop_words]

    # Lemmatization
    lemmatizer = WordNetLemmatizer()
    tokens = [lemmatizer.lemmatize(word) for word in tokens]


    ## below code is to remove city,states and country names. 
    ## not working as expected. need to work on it. 
    # doc = NER(text)
    # Remove entities identified as locations (GPE: Geo-Political Entity)
    # text = ' '.join([token.text for token in doc if token.ent_type_ != 'GPE'])

    return ' '.join(tokens)

In [29]:
# import nltk
# nltk.download()

In [30]:
resume_df['cleaned_txt'] = resume_df['txt'].apply(clean_txt)

In [31]:
resume_df

,txt,lab,cleaned_txt
0,"Database Administrator <span class=""hl"">Databa...",Database_Administrator,database administrator database administrator ...
1,"Database Administrator <span class=""hl"">Databa...",Database_Administrator,database administrator sql server database adm...
2,Oracle Database Administrator Oracle <span cla...,Database_Administrator,oracle database administrator oracle oracle da...
3,Amazon Redshift Administrator and ETL Develope...,Database_Administrator,amazon redshift administrator etl developer bu...
4,Scrum Master Scrum Master Scrum Master Richmon...,Database_Administrator,scrum master scrum master scrum master richmon...
...,...,...,...
29778,"ServiceNow Developer ServiceNow <span class=""h...","Java_Developer ,Web_Developer ,Software_Developer",servicenow developer servicenow servicenow dev...
29779,"Android Developer Android <span class=""hl"">Dev...","Web_Developer ,Software_Developer",android developer android android developer hc...
29780,"UI Developer UI <span class=""hl"">Developer</sp...","Software_Developer ,Front_End_Developer ,Web_D...",ui developer ui ui developer cotiviti health c...
29781,"Web Developer <span class=""hl"">Web</span> <spa...","Web_Developer ,Software_Developer",web developer los angeles ca work experience w...
29782,Sr. Software Engineer Sr. Software Engineer Sr...,"Software_Developer ,Web_Developer",sr software engineer sr software engineer sr s...

### Generating Embeddings

In [96]:
# download below package 
# !python -m spacy download en_core_web_md

In [54]:
GloVe = spacy.load('en_core_web_md')

def embed_resume(text):
    tokens = GloVe(text)
    return np.mean([token.vector for token in tokens], axis=0)

In [58]:
#will take a lot of time so got this bit stackoverflow to do parallel processing 

# Get the number of available CPU cores
num_cores = os.cpu_count()
print(num_cores)

# Use ThreadPoolExecutor for parallel execution
with concurrent.futures.ThreadPoolExecutor(max_workers=num_cores) as executor:
    embeddings_list = list(executor.map(embed_resume, resume_df['txt']))

# Convert the list of embeddings to a NumPy array
embeddings = np.vstack(embeddings_list)

12

In [32]:
embeddings = np.load('embeddings.npy')
embeddings.shape

(29783, 300)

In [67]:
# np.save('embeddings',embeddings)
#saving the embeddings array

## Label Encoding

In [33]:
resume_df['cleaned_lab'] = resume_df['lab'].apply(lambda x: x.split(' ,')[0])
label_encoder = LabelEncoder()
resume_df['labeled_class'] = label_encoder.fit_transform(resume_df['cleaned_lab'])

resume_df

,txt,lab,cleaned_txt,cleaned_lab,labeled_class
0,"Database Administrator <span class=""hl"">Databa...",Database_Administrator,database administrator database administrator ...,Database_Administrator,1
1,"Database Administrator <span class=""hl"">Databa...",Database_Administrator,database administrator sql server database adm...,Database_Administrator,1
2,Oracle Database Administrator Oracle <span cla...,Database_Administrator,oracle database administrator oracle oracle da...,Database_Administrator,1
3,Amazon Redshift Administrator and ETL Develope...,Database_Administrator,amazon redshift administrator etl developer bu...,Database_Administrator,1
4,Scrum Master Scrum Master Scrum Master Richmon...,Database_Administrator,scrum master scrum master scrum master richmon...,Database_Administrator,1
...,...,...,...,...,...
29778,"ServiceNow Developer ServiceNow <span class=""h...","Java_Developer ,Web_Developer ,Software_Developer",servicenow developer servicenow servicenow dev...,Java_Developer,2
29779,"Android Developer Android <span class=""hl"">Dev...","Web_Developer ,Software_Developer",android developer android android developer hc...,Web_Developer,9
29780,"UI Developer UI <span class=""hl"">Developer</sp...","Software_Developer ,Front_End_Developer ,Web_D...",ui developer ui ui developer cotiviti health c...,Software_Developer,7
29781,"Web Developer <span class=""hl"">Web</span> <spa...","Web_Developer ,Software_Developer",web developer los angeles ca work experience w...,Web_Developer,9
29782,Sr. Software Engineer Sr. Software Engineer Sr...,"Software_Developer ,Web_Developer",sr software engineer sr software engineer sr s...,Software_Developer,7

In [34]:
label_encoder.inverse_transform([0,1,2,3,4,5,6,7])

array(['', 'Database_Administrator', 'Java_Developer',
       'Network_Administrator', 'Project_manager', 'Python_Developer',
       'Security_Analyst', 'Software_Developer'], dtype=object)

In [35]:
#dropping those indexes that dont have class names. 
index_drop = resume_df.loc[resume_df['labeled_class'] == 0].index
index_drop

Index([  141,   156,   275,   322,   328,   341,   357,   432,   434,   464,
       ...
       29165, 29198, 29210, 29229, 29257, 29381, 29384, 29386, 29492, 29503],
      dtype='int64', length=748)

In [36]:
resume_df.drop(index_drop,inplace = True)

In [37]:
resume_df['labeled_class'].value_counts()

labeled_class
7    5828
8    4182
4    3527
9    3466
1    2784
2    2418
5    2311
3    2260
6    2259
Name: count, dtype: int64

In [38]:
resume_df.shape

(29035, 5)

In [39]:
embeddings = np.delete(embeddings, index_drop,axis = 0 )
embeddings.shape

(29035, 300)

In [40]:
x_train, x_test, y_train, y_test =train_test_split(embeddings,resume_df['labeled_class'],test_size= 0.2, random_state= 69)

In [41]:
print('x_train',x_train.shape)
print('x_test',x_test.shape)
print('y_train',y_train.shape)
print('y_test',y_test.shape)

x_train (23228, 300)
x_test (5807, 300)
y_train (23228,)
y_test (5807,)

In [111]:
# resume_df.to_csv('resume_df', index = False)
# Saving resume_df locally

## Model Building

### Checking and Enabling GPU for Tensorflow

In [1]:
import tensorflow as tf

In [44]:
tf.config.list_physical_devices("GPU")

[PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]

In [6]:
import sys

import tensorflow.keras
# import pandas as pd
# import sklearn as sk
import tensorflow as tf

# print(f"Tensor Flow Version: {tf.__version__}")
# print(f"Keras Version: {tensorflow.keras.__version__}")
print()
# print(f"Python {sys.version}")
# print(f"Pandas {pd.__version__}")
# print(f"Scikit-Learn {sk.__version__}")
gpu = len(tf.config.list_physical_devices('GPU'))>0
print("GPU is", "available" if gpu else "NOT AVAILABLE")

GPU is available

In [48]:
tf.config.list_physical_devices('GPU')

[PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]

In [46]:
print("Num GPUs Available: ", len(tf.config.experimental.list_physical_devices('GPU')))

Num GPUs Available:  1

In [108]:
resume_df

,txt,lab,cleaned_txt,cleaned_lab,labeled_class
0,"Database Administrator <span class=""hl"">Databa...",Database_Administrator,database administrator database administrator ...,Database_Administrator,1
1,"Database Administrator <span class=""hl"">Databa...",Database_Administrator,database administrator sql server database adm...,Database_Administrator,1
2,Oracle Database Administrator Oracle <span cla...,Database_Administrator,oracle database administrator oracle oracle da...,Database_Administrator,1
3,Amazon Redshift Administrator and ETL Develope...,Database_Administrator,amazon redshift administrator etl developer bu...,Database_Administrator,1
4,Scrum Master Scrum Master Scrum Master Richmon...,Database_Administrator,scrum master scrum master scrum master richmon...,Database_Administrator,1
...,...,...,...,...,...
29778,"ServiceNow Developer ServiceNow <span class=""h...","Java_Developer ,Web_Developer ,Software_Developer",servicenow developer servicenow servicenow dev...,Java_Developer,2
29779,"Android Developer Android <span class=""hl"">Dev...","Web_Developer ,Software_Developer",android developer android android developer hc...,Web_Developer,9
29780,"UI Developer UI <span class=""hl"">Developer</sp...","Software_Developer ,Front_End_Developer ,Web_D...",ui developer ui ui developer cotiviti health c...,Software_Developer,7
29781,"Web Developer <span class=""hl"">Web</span> <spa...","Web_Developer ,Software_Developer",web developer los angeles ca work experience w...,Web_Developer,9
29782,Sr. Software Engineer Sr. Software Engineer Sr...,"Software_Developer ,Web_Developer",sr software engineer sr software engineer sr s...,Software_Developer,7

### Training Model

In [105]:
from keras.models import Sequential
from keras.layers import SimpleRNN, Dense, Input
import warnings 
warnings.filterwarnings('ignore')
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '3'

In [106]:
tf.debugging.set_log_device_placement(True)
# tf.get_logger().setLevel('FATAL')

model = Sequential()
model.add(Input(shape=(300,1)))
model.add(SimpleRNN(64, activation='relu'))
model.add(Dense(9, activation='softmax'))

Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op AssignVariableOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op AssignVariableOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op AssignVariableOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op _EagerConst in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op _EagerConst in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op StatelessRandomGetKeyCounter in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op StatelessRandomUniformV2 in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op Sub in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op Mul in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op AddV2 in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op AssignVariableOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op _EagerConst in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op _EagerConst in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op StatelessRandomGetKeyCounter in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op StatelessRandomNormalV2 in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op Mul in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op AddV2 in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op Qr in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op DiagPart in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op Sign in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op Mul in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op _EagerConst in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op Reshape in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op Mul in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op AssignVariableOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op _EagerConst in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op Fill in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op AssignVariableOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op _EagerConst in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op _EagerConst in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op StatelessRandomGetKeyCounter in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op StatelessRandomUniformV2 in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op Sub in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op Mul in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op AddV2 in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op AssignVariableOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op _EagerConst in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op Fill in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op AssignVariableOp in device /job:localhost/replica:0/task:0/device:GPU:0

2023-11-30 13:12:33.955943: I tensorflow/core/common_runtime/placer.cc:125] resource_RetVal: (_Retval): /job:localhost/replica:0/task:0/device:GPU:0
2023-11-30 13:12:33.955957: I tensorflow/core/common_runtime/placer.cc:125] VarHandleOp: (VarHandleOp): /job:localhost/replica:0/task:0/device:GPU:0
2023-11-30 13:12:33.966887: I tensorflow/core/common_runtime/placer.cc:125] resource_RetVal: (_Retval): /job:localhost/replica:0/task:0/device:GPU:0
2023-11-30 13:12:33.966900: I tensorflow/core/common_runtime/placer.cc:125] VarHandleOp: (VarHandleOp): /job:localhost/replica:0/task:0/device:GPU:0
2023-11-30 13:12:33.971286: I tensorflow/core/common_runtime/placer.cc:125] resource_RetVal: (_Retval): /job:localhost/replica:0/task:0/device:GPU:0
2023-11-30 13:12:33.971297: I tensorflow/core/common_runtime/placer.cc:125] VarHandleOp: (VarHandleOp): /job:localhost/replica:0/task:0/device:GPU:0
2023-11-30 13:12:33.991694: I tensorflow/core/common_runtime/placer.cc:125] resource_RetVal: (_Retval): /job:localhost/replica:0/task:0/device:GPU:0
2023-11-30 13:12:33.991705: I tensorflow/core/common_runtime/placer.cc:125] VarHandleOp: (VarHandleOp): /job:localhost/replica:0/task:0/device:GPU:0
2023-11-30 13:12:33.994593: I tensorflow/core/common_runtime/placer.cc:125] resource_RetVal: (_Retval): /job:localhost/replica:0/task:0/device:GPU:0
2023-11-30 13:12:33.994602: I tensorflow/core/common_runtime/placer.cc:125] VarHandleOp: (VarHandleOp): /job:localhost/replica:0/task:0/device:GPU:0

In [107]:
model.summary()

Model: "sequential_17"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 simple_rnn_16 (SimpleRNN)   (None, 64)                4224

 dense_11 (Dense)            (None, 9)                 585

=================================================================
Total params: 4809 (18.79 KB)
Trainable params: 4809 (18.79 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
# Compile the model (adjust loss and metrics based on your task)
model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

# Train the model
model.fit(x_train, np.array(y_train).reshape(-1,1), epochs=10, batch_size=32, validation_split=0.1)

In [ ]:
x_train[0].reshape(-1,1)